.DS_Store
npm-debug.log

node_modules/
dist/
*/dist/*
build/
*/build/*

*.orig
.vscode

template.yml
template.yaml

.env

*.tfvars.json
*.tfvars

cypress/e2e/1-getting-started/
cypress/e2e/2-advanced-examples/
cypress/downloads/